.plot {
    background-color: #cccccc;
	border-style: ridge;
    border-radius: 1rem;
	border-color: #666666;
    margin: 0 auto;
    max-width: 95%;
    padding: 1rem;
    width: 100%;
	/*font-size: 30px;
	text-align: center;
	font-style: italic;*/
}
.heatmap {
	position: relative;
    overflow: hidden;
    padding-top: 40%;
}
iframe {
    position: absolute;	
	border-style: inset;
    border: 1;
	width: 50%;
    height: 70%;
	bottom: 2%;
    left: 49%; 
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dataplot {
	position: absolute;
	overflow: hidden;
    background-color: #ffffff;
	border-style: inset;
	border: 1;
    margin: -40 auto;
    width: 46%;
	height: 90%;
	bottom: 2%;
    padding: 1rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dealer_info {
	position: absolute;
	overflow: hidden;
    background-color: #ffffff;
	border-style: inset;
	border: 1;
    left: 50%;
    width: 45%;
	height: 16%;
	bottom: 75%;
    padding: 1rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.progBar {
	position: relative;
	text-align: left;
	left: 10px;
	color: red;
	font-size: 25px;
}