.plot {
    background-color: #cccccc;
    border-radius: 1rem;
    margin: 0 auto;
    max-width: 90%;
    padding: 2rem;
    width: 100%;
}
input[type="text"] {
    margin-top: 10%;
    font-size:175%;
    size: 25;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
div.links {
    font-size: 135%;
}
button {
    font-size: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
footer{
	position: relative;
	bottom: 0px;
	margin: auto;
	height:18%; 
	width:99%;"
}
