body {
  background-color: lightblue;
  width: calc(100vw - 34px);
}

h1{
  color: red
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Hyundai Sans Text;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: blue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.custom-select {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.custom-select .tooltiptext1 {
  visibility: hidden;
  width: 175px;
  background-color: white;
  color: blue;
  text-align: center;
  border-radius: 5px;
  padding: 3px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 90%;
  left: 20%;
  z-index: 1;
}
.custom-select .tooltiptext1::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.custom-select:hover .tooltiptext1 {
  visibility: visible;
}

.dealer-info {
  border: 2px solid black;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;
  height: 500px;
  background-color: lightgrey;
  font-size: 20px;
  text-align: center;
}

.progBar {
 color: red;
 font-size: 30px;
}

