body {
	background-color: white;
	width: calc(100vw - 24px);
}

.container {
  position: relative;
}
img { 
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.dealer-info {
  border: 2px solid black;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  height: 600px;
  background-color: lightgrey;
  font-size: 20px;
  text-align: center;
}

.progBar {
	color: red;
	font-size: 30px;
}
